:root {
    --azure: #68c;
    --cyan: rgba(0, 255, 255, .5);
    --fuchsia: rgba(255, 0, 255, 0.5);
    --green: rgba(0, 127, 0, .5);
    --greenish: #6a7;
    --orange: #c84;
    --red: rgba(255, 0, 0);
    --shadeRed: rgba(255, 0, 0, .5);
    --violet: #2E46C1;
    --white: #fff;
    --dark: #333;
    --bg: #b4b0cc;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: Arial;
    font-size: 14px;
    margin: 0;
}

.hide {
    display: none !important;
}

.float {
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

.opacity-none {
    opacity: 0;
}

.nowrap {
    display: inline-block;
    max-width: calc(100% - 5px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ratio-1-1 {
    max-width: 100%;
}

.ratio-1-2  {
    max-width: 50%;
}

.ratio-1-3  {
    max-width: 33.33%;
}

.ratio-2-3  {
    max-width: 66.66%;
}

.ratio-1-4 {
    max-width: 25%;
}

.ratio-2-4 {
    max-width: 50%;
}

.ratio-3-4 {
    max-width: 75%;
}

.ratio-1-5 {
    max-width: 20%;
}

.ratio-2-5 {
    max-width: 40%;
}

.ratio-3-5 {
    max-width: 60%;
}

.ratio-4-5 {
    max-width: 80%;
}

.rule {
    background-color: #000;
    height: 2px;
    left: 0;
    position: fixed;
    top: 30px;
    width: 100%;
}

.marker {
    position: absolute;
    top: -20px;
    display: block;
}

#used-breakpoints {
    transition: all 0.4s ease-in-out;
}

.sign,
.breakpoint {
    border-left: 1px dashed #000;
    height: calc(100vh - 90px);
    position: absolute;
    top: -2px;
    width: 0;
}

.breakpoint {
    border-color: var(--white);
    color: var(--white);
    transition: all 0.4s ease-in-out;
}

.breakpoint.used {
    border-color: var(--red);
    color: var(--red);
    padding-top: 20px;
}

.breakpoint::after,
.breakpoint::before {
    color: black;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: auto;
    text-align: center;
}

.breakpoint.used::before,
.breakpoint.used::after {
    background: var(--shadeRed);
}

.breakpoint.set1::before,
.breakpoint.set1::after {
    background: var(--fuchsia);
}

.breakpoint.set2::before,
.breakpoint.set2::after {
    background: var(--green);
}

.breakpoint.set3::before,
.breakpoint.set3::after {
    background: var(--cyan);
}

.screen:nth-child(1) {
    top: 0;
}

.screen:nth-child(2) {
    top: 6.5vh;
}

.screen:nth-child(3) {
    top: 13vh;
}

.screen:nth-child(4) {
    top: 19.5vh;
}

.screen:nth-child(5) {
    top: 26vh;
}

.screen:nth-child(6) {
    top: 32.5vh;
}

.screen:nth-child(7) {
    top: 39vh;
}

.screen:nth-child(8) {
    top: 46vh;
}

.screen:nth-child(9) {
    top: 52.5vh;
}

.screen:nth-child(10) {
    top: 59vh;
}

.screen:nth-child(11) {
    top: 65.5vh;
}

.screen:nth-child(12) {
    top: 70vh;
}

.screen:nth-child(13) {
    top: 74vh;
}

.screen:nth-child(14) {
    top: 78vh;
}

.screen:nth-child(15) {
    top: 82vh;
}

.screen {
    background-color: var(--orange);
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: 12px;
    position: absolute;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.screen > span {
    left: 0;
    margin-top: -12px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    user-select: none;
    width: 100%;
}

.screens-container {
    height: calc(100% - 80px);
    position: fixed;
    top: 60px;
    width: 100%;
}

.screens-container:not(.active) {
    display: none;
}

.screen:hover > .tooltip {
    opacity: 1;
}

.tooltip {
    background-color: rgba(170, 170, 170, 0.9);
    border-radius: 10px;
    bottom: 40%;
    box-shadow: 1px 1px 6px #838383;
    font-size: 13px;
    line-height: 20px;
    margin-right: 4px;
    max-width: 220px;
    min-width: 75px;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    right: 100%;
    text-align: left;
    transition: opacity 0.4s ease-in-out;
    z-index: 2;
}

.tooltip b {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 4px;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: right;
    width: 100%;
}

.footer-item {
    flex: 0 1 30%;
}

.footer-item + .footer-item {
    flex: 1 1 auto;
}

.footer-item > li {
    padding-right: 20px;
}

footer,
#data-source {
    color: #343;
}

.button {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.button {
    border: 2px solid var(--violet);
    color: var(--violet);
}

.button.selected {
    background-color: var(--violet);
    color: var(--white);
}

.button.alt {
    border: 2px solid var(--red);
    color: var(--red);
}

.button.alt.selected {
    background-color: var(--shadeRed);
    color: var(--dark);
}

.legend-data:before {
    background-color: inherit;
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

.legend {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 10px;
}

.legend-data {
    padding-right: 20px;
}

.screen.mobile {
    font-size: 12px;
}

.screen.mobile,
.legend-data.phone:before {
    background-color: var(--azure);
}

.screen.tablet,
.legend-data.tablet:before {
    background-color: var(--orange);
}

.screen.desktop,
.legend-data.desktop:before {
    background-color: var(--greenish);
}

.source-link {
    padding-top: 10px;
    display: block;
}

.panel {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

#enableUsedBkp {
    border: 1px solid var(--red);
}

#enableUsedBkp + label {
    color: var(--red);
}

#toggleBreaks + label {
    color: var(--white);
}

.panel-item {
    text-align: left;
}

.panel-value {
    display: block;
    margin: 0 auto;
    max-width: 60px;
}

.panel-label {
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.panel-label:hover {
    text-decoration: underline;
}

footer {
    background: var(--bg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.breakpoint.set1,
.breakpoint.set2,
.breakpoint.set3,
.base-breakpoints,
#used-breakpoints {
    opacity: 0;
}

#enableUsedBkp:checked ~ .rule #used-breakpoints {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.toggleSets {
    flex: 1 1 100%;
}

.toggle-label {
    display: inline-block;
    flex: 0 0 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 2px;
    filter: grayscale(1);
    padding-top: 10px;
}

#enableUsedBkp:checked ~ footer .footer-item .panel-item [for='enableUsedBkp'] {
    background: var(--shadeRed);
    color: var(--dark);
}

#toggleBreaks:checked ~ footer .footer-item .panel-item .toggleSets {
    background: var(--shadeRed);
    color: var(--dark);
}

#toggleSet1:checked ~ footer .footer-item .panel-item .toggleSet1 {
    filter: grayscale(0);
}

#toggleSet2:checked ~ footer .footer-item .panel-item .toggleSet2 {
    filter: grayscale(0);
}

#toggleSet3:checked ~ footer .footer-item .panel-item .toggleSet3 {
    filter: grayscale(0);
}

#toggleBreaks:checked ~ .rule .base-breakpoints {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#toggleSet1:checked ~ .rule .base-breakpoints .set1 {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#toggleSet2:checked ~ .rule .base-breakpoints .set2 {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#toggleSet3:checked ~ .rule .base-breakpoints .set3 {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.legend.view1,
.legend.view2,
.legend.view3,
.legend.view4 {
    display: none;
}

#view1.active ~ footer .footer-item .legend.view1,
#view2.active ~ footer .footer-item .legend.view2,
#view3.active ~ footer .footer-item .legend.view3,
#view4.active ~ footer .footer-item .legend.view4 {
    display: flex;
}
